[submodule "kolab"]
	path = kolab
	url = git://git.kolab.org/git/roundcubemail-plugins-kolab
[submodule "plugins/sauserprefs"]
	path = plugins/sauserprefs
	url = https://github.com/JohnDoh/Roundcube-Plugin-SpamAssassin-User-Prefs-SQL.git
[submodule "kolab-chwala"]
	path = kolab-chwala
	url = git://git.kolab.org/git/kolab-chwala
