# ignore files added to these directories
logs/*
temp/*
config/*
plugins/*/config.inc.php

# composer-related
composer.json
composer.phar
composer.lock
vendor

kolab
kolab-chwala

skins/flow

favicon.ico
kani_icon.ico
kani_logo.png
kani_logo_black.png

plugins/calendar
plugins/kolab_activesync
plugins/kolab_addressbook
plugins/kolab_auth
plugins/kolab_config
plugins/kolab_delegation
plugins/kolab_files
plugins/kolab_folders
plugins/kolab_zpush
plugins/libcalendaring
plugins/libkolab
plugins/logon_page
plugins/odfviewer
plugins/owncloud
plugins/pdfviewer
plugins/piwik_analytics
plugins/tasklist
plugins/tinymce_config
plugins/sauserprefs

# this is for the sample plugin (via composer)
plugins/rcsample
plugins/plugin_manager

